
<!DOCTYPE html>
<html lang="en-us" ng-app="MainModule">
    <head >
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>



        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="MainController" class="container">
        <h1 class="text-center">{{message}}</h1>
        <br>
        
        <div class="jumbotron">
            <div class="container">
                <h1>{{person.firstName}} {{person.lastName}}</h1>
                <img ng-src="{{person.imageSource}}" alt="{{person.firstName}} {{person.lastName}}">
            </div>
        </div>
        <br>
        <br>
        
        <!--APRESENTA EM CASO DE SUCESSO-->
        <div ng-if="success != null">
            <div class="jumbotron">
                <div class="container">
                    <h1>Infomações de Consulta de API do GITHUB com SUCESSO!</h1>
                    <p>LOGIN GITHUB: {{success.login}}</p>
                    <p>QUANTIDADE DE REPOSITORIOS NO GITHUB: {{success.public_repos}}</p>
                    <img ng-src="{{success.avatar_url}}" alt="">
                </div>
            </div>
        </div>

        <!--APRESENTA EM CASO DE ERRO-->
                <div ng-if="error != null">
            <div class="jumbotron">
                <div class="container">
                    <h1>Infomações de Consulta de API do GITHUB com ERRO!</h1>
                    <p>{{error}}</p>
                </div>
            </div>
        </div>

        
        

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
        <!--ANGULAR-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="script.js"></script>

    </body>
</html>
